.currentAffair {
  overflow: hidden;

  .nocontent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 28px;
    font-family: Microsoft YaHei;
    font-weight: 300;
    color: rgba(173, 183, 193, 1);
    margin-top: 350px;
    text-align: center;

    img {
      margin-bottom: 30px;
      width: 202px;
      height: 162px;
    }
  }

  .content {
    background: #fff;

    .iconTitle {
      // width: 694px;
      padding: 0 28px 20px 28px;
      border-bottom: 4px solid #f6f6f6;
      display: flex;
      overflow: hidden;
      margin-top: 30px;
      height: auto;

      .left {
        height: 90px;
        width: 90px;
        margin-right: 24px;

        img {
          border-radius: 10px;
          height: 90px;
          width: 90px;
        }
      }

      .right {
        width: 565px;

        .nameTitle {
          .name {
            text-align: left;
            font-size: 32px;
            font-family: Microsoft YaHei;
            font-weight: bold;
            color: #660000;

            .place-project {
              margin-bottom: 16px;
              display: flex;
              position: relative;
              align-items: flex-start;

              .reply-btn {
                position: absolute;
                width: 130px;
                height: 38px;
                line-height: 38px;
                text-align: center;
                margin-top: 4px;

                .red,
                .yellow,
                .blue {
                  display: block;
                  background: #F5E9E8;
                  border-radius: 19px;
                  font-size: 24px;
                  font-family: Microsoft YaHei;
                  font-weight: 400;
                  color: #BC4241;
                }

                .yellow {
                  background: #FFEDD6;
                  color: #D97500;
                }

                .blue {
                  background: #D6F0FF;
                  color: #006699;
                }
              }

              .place-name {
                display: -webkit-box;
                text-overflow: ellipsis;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                flex: 1;
                line-height: 48px;

                .bt {
                  display: inline-block;
                  text-align: center;
                  width: 130px;
                  background: #F5E9E8;
                  border-radius: 19px;
                  font-size: 24px;
                  font-family: Microsoft YaHei;
                  font-weight: 400;
                  color: #BC4241;
                  text-indent: 0;
                  margin-left: 10px;
                }

                .yellow {
                  background: #FFEDD6;
                  color: #D97500;
                }

                .blue {
                  background: #D6F0FF;
                  color: #006699;
                }
              }

              .indent {
                text-indent: 4.4rem;
              }

            }

            .name-span {
              font-size: 28px;
              font-family: Microsoft YaHei;
              font-weight: 400;
              color: #343434;
            }

            .examine-tag {
              margin-left: 10px;
            }

            .verification {
              display: flex;
              align-items: center;
              float: right;
              color: #898989;
              size: 28px;
              font-weight: 500;

              img {
                width: 44px;
                height: 44px;
                margin-left: 5px;
              }
            }
          }

          .title {
            font-size: 28px;
            font-family: Microsoft YaHei;
            font-weight: 400;
            color: #393838;
            margin-top: 20px;
            position: relative;
            overflow: hidden;

            .con {
              overflow: hidden;
            }

            .text_hidden {
              display: -webkit-box;
              text-overflow: ellipsis;
              -webkit-line-clamp: 3;
              -webkit-box-orient: vertical;
              overflow: hidden;
            }

            .check {
              margin: 0;
              position: absolute;
              bottom: 0px;
              right: 0;
              font-size: 28px;
              color: #3399FF;
              font-family: MicrosoftYaHei;
              background-color: #fff;
            }
          }

          .fullText {
            margin: 0 20px;
            margin-top: 10px;
            text-align: right;
            font-size: 24px;
            font-family: PingFang-SC-Medium;
            font-weight: 500;
            color: #66b7f3;
          }
        }

        .icon {
          width: 100%;
          height: auto;
          margin: 0;
          margin-top: 22px;

          .images {
            height: 160px;
            display: inline-block;
            width: 175px;
            margin-bottom: 20px;
            margin-right: 10px;
            overflow: hidden;

            img {
              object-fit: cover;
              width: 175px;
              height: 160px;
            }
          }
        }

        .timecomment {
          font-size: 24px;
          color: #999999;
          display: flex;
          align-items: center;
          padding: 5px 0px 5px 0px;

          img {
            width: 26px;
            margin-right: 10px;
          }

        }

        .right {
          font-size: 24px;
          color: #999999;
          display: flex;
          justify-content: space-between;
          margin-top: 20px;
          margin-bottom: 20px;

          .read-number {
            display: flex;
            align-items: center;

            img {
              width: 26px;
              margin-right: 10px;
            }
          }

          .reply-num {
            display: flex;
            align-items: center;

            img {
              width: 26px;
              margin-right: 10px;
            }
          }
        }
      }

      .reply-wrapper {
        padding: 20px 20px 10px 20px;
        background: #F5F5F5;

        .reply-info {
          font-size: 26px;
          color: #666;
          line-height: 40px;
          border-radius: 10px;
          // display: -webkit-box;
          // text-overflow: ellipsis;
          // -webkit-line-clamp: 4;
          // -webkit-box-orient: vertical;
          // overflow: hidden;


          span {
            color: #BC4241;
            font-family: MicrosoftYaHei;
          }

          .fullText {
            margin: 0 20px;
            margin-top: 10px;
            text-align: right;
            font-size: 24px;
            font-family: PingFang-SC-Medium;
            font-weight: 500;
            color: #66b7f3;
          }
        }

        .text_hidden {
          display: -webkit-box;
          text-overflow: ellipsis;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }

      }

      .caseInfo {
        height: auto;
        font-size: 28px;
        color: red;
        margin-bottom: 15px;
      }

      .reply-list {
        width: 100%;
        padding: 20px 0;
        margin-bottom: 20px;
        border-top: 1px solid #f6f6f6;

        >span {
          // margin-left: 20px;
          font-size: 28px;
          color: rgba(51, 51, 51, 1);
          font-weight: bold;
        }

        .reply-content {
          // margin: 0 20px;
          font-size: 28px;
          font-family: PingFang-SC-Medium;
          font-weight: 500;
          color: rgba(40, 40, 40, 1);

          span {
            display: inline-block;
            flex: 0 0 auto;
            margin-right: 20px;
            color: rgba(60, 138, 225, 1);
          }
        }

        .content_hide {
          overflow: hidden;
          text-overflow: -o-ellipsis-lastline;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          line-clamp: 3;
          -webkit-box-orient: vertical;
        }

        .replyDate {
          float: right;
          font-size: 24px;
          color: #999999;
        }

        .fullText {
          margin: 0 20px;
          margin-top: 10px;
          text-align: right;
          font-size: 24px;
          font-family: PingFang-SC-Medium;
          font-weight: 500;
          color: #66b7f3;
        }

        .reply-mark {
          display: flex;
          margin: 0 20px;
          margin-top: 20px;
          align-items: center;

          .mark-name {
            flex: 0 0 auto;
            margin-right: 20px;
            font-size: 28px;
            font-weight: bold;
            color: rgba(90, 103, 158, 1);
          }

          .mark-list {
            flex: 1;
            display: flex;
            align-items: center;

            .mark-list-tab {
              flex: 1;
              display: flex;
              align-items: center;
              justify-content: center;

              img {
                width: 41px;
                height: 39px;
              }
            }
          }

          .mark-but {
            flex: 0 0 auto;
            font-size: 28px;
            margin-left: 20px;
            padding: 3px 23px;
            font-family: PingFang-SC-Bold;
            font-weight: bold;
            color: rgba(7, 143, 255, 1);
            background: rgba(247, 247, 247, 1);
            border: 1px solid rgba(7, 143, 255, 1);
            border-radius: 4px;
          }

          .mark-but:active {
            background: #cccccc;
          }
        }
      }

      .govern {
        width: 100%;
        padding: 24px 0;
        margin-bottom: 36px;
        background: rgba(246, 246, 246, 1);
        text-align: center;
        color: rgba(137, 137, 137, 1);
        font-size: 28px;

        span {
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            width: 28px;
            height: 30px;
            margin-right: 16px;
          }
        }
      }

      .operation_list {
        display: flex;
        align-items: center;
        padding-bottom: 20px;

        .operation_list_tab {
          flex: 1;

          .operation_list_tab_icon {
            display: flex;
            align-items: center;
            justify-content: center;

            img {
              width: 30px;
              height: 30px;
            }
          }

          .operation_list_tab_name {
            margin-top: 10px;
            text-align: center;
            font-size: 22px;
            font-weight: 400;
            color: rgba(39, 40, 40, 1);
          }

          .operation_list_tab_name_action {
            color: red;
          }
        }

        .operation_list_tab:active {
          background: #cccccc;
        }
      }
    }

    .bor {
      border: 0;
    }
  }
}
