.main {
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  .input-all {
    padding: 20px 30px;
    .input-title-body {
      display: flex;
      align-items: center;
      border-bottom: 1px solid #e6e6e5;
      padding-bottom: 35px;
      margin-top: 35px;
      .input-title {
        font-size: 30px;
        font-weight: 500;
        color: #272828;
      }
      .input-body {
        font-size: 30px;
        font-weight: 400;
        position: relative;
        top: -2px;
        opacity: 0.9;
        margin-left: 15px;
        width: 350px;
      }
      .select-body {
        font-size: 30px;
        font-weight: 400;
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        border: 0;
        background-color: rgba(255, 255, 255, 0);
        position: relative;
        left: 10px;
        text-align: center;
        width: 500px;
      }
      .yzm {
        font-size: 28px;
        font-weight: 500;
        color: white;
        background-color: #2cb0fb;
        width: 180px;
        height: 60px;
        border-radius: 10px;
        text-align: center;
        line-height: 60px;
        position: relative;
        right: -16px;
      }
      .xl {
        position: absolute;
        top: 5px;
        left: 275px;
        img {
          width: 40px;
          height: 30px;
        }
      }
    }
  }
  .input-button {
    border: 0;
    background-color: #fc5841;
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    width: 650px;
    height: 80px;
    position: relative;
    left: 50px;
    border-radius: 10px;
    margin-top: 120px;
    line-height: 80px;
    text-align: center;
  }
}