.PartyActivity_gotoPic {
  .pic {
    background: rgba(238, 238, 238, 1);
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    .ewm_pages {
      margin: 0px auto 18px auto;
      background: #ffffff;
      box-sizing: border-box;
      padding: 0px 29px 0 29px;
      .ewm_hread {
        padding: 30px 0;
        p {
          margin: 0;
          font-size: 34px;
          font-family: SimHei;
          font-weight: bold;
          color: rgba(25, 25, 25, 1);
        }
      }
      .ewm_item {
        // height: 102px;
        display: flex;
        align-items: center;
        // border-bottom: solid 1px rgba(229, 229, 229, 1);
        &:last-child {
          border: none;
        }
        .ewm-iten-name {
          flex: 0 0 auto;
          font-size: 28px;
          font-weight: 400;
          color: rgba(51, 51, 51, 1);
          margin-right: 43px;
        }
        .ewm-item-input {
          flex: 1;
          input {
            width: 100%;
            font-size: 28px;
            font-weight: 400;
            color: rgba(51, 51, 51, 1);
            outline: none;
          }
        }
        span {
          font-size: 28px;
          font-weight: 400;
          color: rgba(51, 51, 51, 1);
          margin-right: 43px;
        }
        textarea {
          flex: 1;
          font-size: 28px;
          font-weight: 400;
          color: rgba(51, 51, 51, 1);
          outline: none;
          height: 382px;
        }
        .select {
          flex: 1;
          font-size: 28px;
          font-weight: 400;
          color: rgba(51, 51, 51, 1);
          outline: none;
        }
      }
      .tpsce {
        padding-bottom: 40px !important;
        border-bottom: solid 1px rgba(229, 229, 229, 1) !important;
        .tjtp {
          background: #ffffff !important;
        }
      }
      .title {
        padding: 40px 0px 36px 0px;
        font-weight: 700;
      }
      .activity_detail_active_items {
        padding: 0px 10px 170px 10px;
        .list {
          padding: 0 0 0 10px;
        }
        .activity_detail_active {
          background: rgba(224, 241, 253, 1);
          border-radius: 19px;
          padding: 5px 30px;
          font-size: 28px;
          font-weight: bold;
          color: rgba(101, 183, 243, 1);
          display: inline-flex;
          margin-right: 10px;
          margin-bottom: 20px;
        }
        .activity_detail_active1{
            color: rgba(173, 173, 173, 1);   
        }
      }
    }
    .ewm_button {
      margin: 40px auto 40px auto;
      width: 630px;
      height: 80px;
      background: rgba(64, 175, 246, 1);
      border-radius: 10px;
      font-size: 40px;
      font-weight: 400;
      line-height: 80px;
      text-align: center;
      color: rgba(255, 255, 255, 1);
    }
  }
}
