.csbm {
  background-color: #eeeeee;

  .centre {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 1px;
    background-color: #fff;
  }

  .other-information {
    background-color: #fff;
    padding-bottom: 50px;

    p {
      font-size: 24px;
      font-family: PingFang SC;
      padding-left: 30px;
      font-weight: 400;
      color: #ff9900;
      line-height: 40px;
    }
  }

  .line {
    font-size: 36px;
    padding: 10px 0 10px 30px;
    font-family: PingFang SC;
    font-weight: bold;
    color: #333333;
    background-color: #fff;
    position: relative;

    .col {
      position: absolute;
      top: 18px;
      left: 8px;
      color: #ff3333;
      font-size: 28px;
    }
  }

  .submit {
    width: 100%;
    text-align: center;
    padding: 50px 0 50px 0;

    .button {
      width: 690px;
      height: 80px;
      border-radius: 10px;
    }
  }

  .image-upload {
    padding-left: 30px;
  }
}
