.ewm_pages{
    max-width:690px;
    margin: 0px auto 18px auto;
    background: #ffffff;
    box-sizing: border-box;
    border-radius: 16px;
    padding: 0px 29px 0 29px;
    .ewm_hread{
      border-bottom: solid 1px rgba(229,229,229,1);
      padding: 30px  0;
      p{
        margin: 0;
        font-size:34px;
        font-family:SimHei;
        font-weight:bold;
        color:rgba(25,25,25,1);
      }
      .smallRed{
        font-size:24px;
        line-height:24px;
        color:red;
      }
    }
    .ewm_item{
      height: 102px;
      display: flex;
      align-items: center;
      border-bottom: solid 1px rgba(229,229,229,1);
      &:last-child{
        border: none;
      }
      .ewm-iten-name {
        flex: 0 0 auto;
        font-size:28px;
        font-weight:400;
        color:rgba(51,51,51,1);
        margin-right: 43px;
      }
      .ewm-item-input {
        flex: 1;
        input {
          width: 100%;
          font-size:28px;
          font-weight:400;
          color:rgba(51,51,51,1);
          outline: none;
        }
      }
      span{
        font-size:28px;
        font-weight:400;
        color:rgba(51,51,51,1);
        margin-right: 43px;
          
      }
      input{
        flex: 1;
        font-size:28px;
        font-weight:400;
        color:rgba(51,51,51,1);
        outline: none;
      }
      .select{
        flex: 1;
        font-size:28px;
        font-weight:400;
        color:rgba(51,51,51,1);
        outline: none;
      }
    }
    .ewm_redio{
              .select {
                .border{
                  border-bottom: 1px solid #E5E5E5;
                }
                  .select-tab {
                      display: flex;
                      align-items: center;
                      padding: 20px 0;
                      i {
                          display: inline-block;
                          flex: 0 0 auto;
                          margin-right: 23px;
                          width:38px;
                          height:38px;
                          background:rgba(255,255,255,1);
                          border:2px solid rgba(220,220,220,1);
                          border-radius:50%;
                          i {
                              display: inline-block;
              height: 17px;
              width: 17px;
              margin: 9px 7px;
              background: #40AFF6;
              border-radius: 50%;
                          }
                      }
                      .name-title {
                          flex: 1;
                          .name {
                              font-size:28px;
                              font-weight:400;
                              color:rgba(51,51,51,1);
                          }
                          .title {
                              margin-top: 13px;
                              font-size:24px;
                              font-family:SimHei;
                              font-weight:400;
                              color:rgba(172,172,172,1);
                          }
                      }
                  }
      }
      label{
        padding:20px 0;
        font-size: 28px;
        font-weight: 400;
        color: rgba(51,51,51,1);
        display: flex;
        align-items: center;
        border-bottom: solid 1px rgba(229,229,229,1);
        &:last-child{
          border: none;
        }
        input{
          width: 38px;
          height: 38px;
          margin-right: 23px;
        }
        .bz{
          font-size:24px;
          font-weight:400;
          color:rgba(172,172,172,1);
          margin: 0;
        }
      }
    }
    .qksm{
      padding: 20px 0;
      textarea{
        height: 100px;
        width: 100%;
      }
    }
  }