.serch {
    height: 80px;
    border-bottom: 1px solid;
    border-color: #ffffff;
    padding: 20px 20px 20px 20px;
    background: #ffffff;
      div{
        height: 80px;
        display: flex;
        align-items: center;
        background: #f4f4f4;
        border-radius: 15px 15px 15px 15px;
        input{
          border-radius: 15px 15px 15px 15px;
          flex: 1;
          border:none;
          margin-right: 7px;
          background: #f4f4f4;
          padding-left: 20px;
          font-size: 30px;
        }
        .imagesss {
          flex: 0 0 auto;
          img{
            height: 45px;
            width: 45px;
            padding-left: 20px;
            padding-right: 20px;
          }
        }
      }
  }
.PullDownHint {
  margin-top: 3px;
  .ContentIcon {
    width: 100%;
    height: 50px;
    background: #ffffff;
    display: flex;
    .Icon {
      float: left;
      width: 4px;
      height: 23px;
      background: rgba(24, 130, 214, 1);
      border-radius: 1px;
      margin: 14px 16px 13px 22px;
    }
    .content {
      height: 50px;
      font-size: 24px;
      font-family: MicrosoftYaHei;
      color: rgba(101, 101, 101, 1);
      line-height: 50px;
      text-align: left;
    }
  }
}
.MissiveList {
  padding-bottom: 50px;
  position: absolute;
  bottom: 0;
  width: 750px;
  background: #ffffff;
  top: 0;
  overflow: scroll;
  .existList {
    width: 706px;
    margin: 0 22px;
    overflow: hidden;
    .iconTitle {
      height: 179px;
      padding-left: 25px;
      border-bottom: 1px solid #f0f2f6;
      background-color: #fff;
      display: flex;
      .icon {
        width: 130px;
        height: 130px;
        margin: 25px 22px 24px 0;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .timeTitle {
        width: 100%;
        .title {
          height: 32px;
          margin-top: 25px;
          font-size: 28px;
          font-family: MicrosoftYaHei;
          font-weight: 400;
          color: rgba(51, 51, 51, 1);
        }
        .name {
          height: 28px;
          margin-top: 20px;
          overflow: hidden;
          font-size: 24px;
          font-family: MicrosoftYaHei;
          font-weight: 400;
          color: rgba(153, 153, 153, 1);
        }
        .time {
          height: 30px;
          margin-top: 17px;
          overflow: hidden;
          font-size: 24px;
          font-family: MicrosoftYaHei;
          font-weight: 400;
          color: rgba(153, 153, 153, 1);
        }
      }
    }
  }
  .noList {
    width: 100%;
    height: 100%;
    padding-top: 15px;
    background: rgba(255, 255, 255, 1);
    p {
      font-size: 30px;
      text-align: center;
      color: rgb(118, 121, 124);
    }
  }
}
.blockserch {
  top: 122px;
}
