.zxMailbox{
  width: 100%;
  background-color: #FFFFFF;
  padding-top: 20px;
  .button-tab{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 28px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom:3px solid #f4f4f4;
    .button-nor{
      flex: 1;
      height: 60px;
      border: 2px solid rgba(255, 190, 110, 1);
      text-align: center;
      line-height: 60px;
      font-weight: 400;
      color: rgba(255,190,110,1);
      border-radius: 6px;
      &.bottom-margin{
        margin: 0 21px;
      }
      &.on{
        background-color:rgba(255,190,110,1);
        color: #FFFFFF;
      }
    }
  }
}
