.main {
  display: flex;
  width: 690px;
  flex-direction: column;
  margin: 0 auto;
  .id-massage {
    display: flex;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 30px;
    .id-icon {
      width: 84px;
      height: 84px;
      margin-right: 30px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .id-name {
      font-size: 34px;
      font-weight: bold;
      color: #f16600;
      margin-bottom: 10px;
    }
    .id-phone {
      font-size: 28px;
      font-weight: 400;
      color: #b4b4b4;
    }
  }
  .yy-type-time {
    width: 690px;
    display: flex;
    align-items: center;
    margin-bottom: 22px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    .yy-types {
      .yy-typename {
        color: #282828;
        font-size: 30px;
        font-weight: 500;
        margin-right: 15px;
      }
      .yy-type {
        color: #787878;
        font-size: 30px;
        font-weight: 400;
      }
    }
  }
  .zx-themes {
    &.zxzt-bottom {
      margin-bottom: 22px;
    }
    &.zxnr-bottom {
      margin-bottom: 90px;
    }
    .zx-themename {
      color: #282828;
      font-size: 30px;
      font-weight: 500;
      margin-right: 10px;
    }
    .zx-theme {
      color: #787878;
      font-size: 30px;
      font-weight: 400;
    }
  }
  .body-border {
    height: 10px;
    width: 100%;
    background-color: #f7f7f7;
    position: relative;
    top: -40px;
  }
  .reply-content {
    display: flex;
    align-items: flex-start;
    .reple-title {
      flex: 0 0 auto;
      color: #282828;
      font-size: 30px;
      font-weight: 500;
      margin-right: 10px;
      margin-top: 10px;
    }
    .reply-list {
      flex: 1;
      .reply-accessory {
        display: flex;
        margin: 20px 12px 20px 15px;
        align-items: center;
        .accessory-icon {
          width:57px;
          height:64px;
          margin-right: 20px;
          flex: 0 0 auto;
          img{
            width:57px;
            height:64px;
          }
        }
        .accessory-name {
          flex: 1;
          font-size:26px;
          font-weight:400;
          color:rgba(74,74,74,1);
          overflow: hidden;
          text-overflow: -o-ellipsis-lastline;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          line-clamp: 2;
          -webkit-box-orient: vertical;
        }
        .download-icon {
          width:30px;
          height:30px;
          margin-left: 30px;
          flex: 0 0 auto;
          display: flex;
          img{
            width:30px;
            height:30px; 
          }
        }
      }
    }
  }
}