.index{
  width: 100%;
  height: 100vh;
  overflow: scroll;
  background-color: #D4ED97;
  $index_bg:425px;
  $Ranking_bg:240px;
  $theme_bg:255px;
  $index_src:"/static/questionnaire/bg_04.png";
  $Ranking_src:"/static/questionnaire/bg_07.png";
  $theme_src:"/static/questionnaire/bg_06.png";
  @mixin bg_height_change($height,$src){
    height: $height;
    background-image: url($src) ;
    [data-theme="index"] & {
      height:$index_bg;
      background-image: url($index_src) ;
    }
    [data-theme="Ranking"] & {
      height:$Ranking_bg;
      background-image: url($Ranking_src) ;
    }
    [data-theme="theme"] & {
      height:$theme_bg;
      background-image: url($theme_src) ;
    }
  }
  .bg{
    width: 100%;
    background-size:100% 100%;
    background-repeat: no-repeat;
    @include bg_height_change($index_bg,$index_src);
  }
  .main_index{
    margin-top: -1px;
    background:linear-gradient(0deg, rgb(214,237,151) 0%, rgb(208,234,138) 46%, rgb(191,228,67) 81%);
  }
  .main_content{
    margin-top: -1px;
    background:linear-gradient(0deg, rgb(214,237,151) 0%, rgb(208,234,138) 46%, rgb(165,218,74) 81%);
  }
  .publicAttention {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    .attention-maike {
      position: fixed;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      opacity: .5;
      background: #000;
      z-index: 9999;
    }
    .attention-content {
      width:650px;
      background:rgba(255,255,255,1);
      border-radius:10px;
      z-index: 99999;
      padding: 10px 0 20px 0;
      .clos {
        width: 22px;
        height: 22px;
        margin-right: 10px;
        float: right;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 22px;
          height: 22px;
        }
      }
      .headIcon {
        width:100px;
        height:100px;
        margin: 0 auto;
        margin-top: 10px;
        img{
          width:100px;
          height:100px;
        }
      }
      .name {
        font-size:26px;
        font-weight:500;
        color:rgba(137,137,137,1);
        text-align: center;
        margin-top: 10px;
      }
      .title {
        text-align: center;
        font-size:28px;
        font-weight:500;
        color:rgba(0,0,0,1);
        margin-top: 33px;
      }
      .but {
        width:424px;
        margin: 50px auto 0 auto;
        height:70px;
        background:rgba(65,176,248,1);
        border-radius:10px;
        font-size:30px;
        font-weight:bold;
        color:rgba(255,255,255,1);
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .icon {
        width:240px;
        height:240px;
        margin: auto;
        margin-top: 30px;
        img {
          width:100%;
          height:100%;
          pointer-events: all;
        }
      }
    }
  }
}
