.questionnaire_issue {
  .questionnaire_issue_item {
    background: #ffffff;
    padding: 35px 0 18px 0;
    margin: 0 30px;
    border-radius: 10px;
    margin-bottom: 20px;
    .questionnaire_issue_item_head {
      font-size: 32px;
      font-weight: bold;
      color: rgba(51, 51, 51, 1);
      padding: 0 35px;
      .flex{
        display: flex;
        .issue {
          flex: 1;
          margin-left: 19px;
        }
      }
      .select {
        margin-top: 53px;
        font-size: 28px;
        font-weight: 500;
        color: rgba(51, 51, 51, 1);
        .item{
          display: flex;
          align-items: center;
          padding: 24px 14px;
          border-radius: 10px;
          .select_type{
            width: 30px;
            height: 30px;
            margin-right: 11px;
            img{
              width: 100%;
              height: 100%;
            }
          }
        }
        .correct{
          color: #3399FF;
          background:rgba(227,243,255,1);
          }
        .error{
          color: #FF6666;
          background:rgba(255,228,228,1);
        }
      }
    }
    .prompt {
      border-top: 1px solid rgba(233, 233, 239, 1);
      padding: 11px 35px 0 35px;
      margin-top: 30px;
      font-size: 28px;
      font-weight: 500;
      color: rgba(153, 153, 153, 1);
      display: flex;
      align-items: center;
      position: relative;
      span {
        color: #666666;
        span{
          margin-left: 30px;
        }
      }
      .icon {
        margin-left: auto;

        img {
          width: 82px;
          height: 83px;
        }
      }
      .dialogue {
        position: absolute;
        right: 20px;
        bottom: 90px;
        .font {
          max-width: 407px;
          padding: 30px 20px;
          box-sizing: border-box;
          background: #efffd7;
          font-size: 24px;
          font-weight: 400;
          color: rgba(102, 153, 51, 1);
          border-radius: 10px;
        }
        .triangle {
          width: 0;
          height: 0;
          border-width: 20px 20px 0 20px;
          border-color: #efffd7 transparent;
          border-style: solid;
          margin-left: auto;
          margin-right: 30px;
        }
      }
    }
  }
  .questionnaire_issue_button{
    width:690px;
    height:100px;
    background:rgba(128,180,92,1);
    box-shadow:0px 6px 0px 0px rgba(109,164,64,0.21);
    border-radius:10px;
    margin: 34px 30px 40px 30px;
    font-size:32px;
    font-weight:bold;
    color:rgba(255,255,255,1);
    text-align: center;
    line-height: 100px;
  }
  .dialogshow{
    text-align: center;
    padding:35px 0;
    img{
      display: inline-block;
      width: 213px;
      height: 150px;
    }
    .dialog_title{
      font-size:40px;
      font-weight:bold;
      color:rgba(0,0,0,1);
      margin: 37px 0 58px 0;
    }
    .message{
      font-size:32px;
      font-weight:500;
      color:rgba(0,0,0,1);
      margin: 0 0 20px 0;
    }
    .comfim{
      font-size:26px;
      font-weight:500;
      color:rgba(255,153,51,1);
      margin: 38px 0 0 0;
    }
  }
}
