.from {
  padding-left: 40px !important;
  overflow-x: hidden;

  .label {
    position: relative;

    .label_icon {
      position: absolute;
      left: -25px;
      top: 6px;
      font-size: 35px;
      font-weight: bold;
      color: #D8392F;
    }

    .label_item {
      font-size: 28px;
      font-weight: bold;
      color: #333333;
      line-height: 48px;
    }
  }

  .input {
    margin-bottom: 13px;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    border-bottom: 1px solid #cccccc;
  }

  .datetime {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #cccccc;

    .zhi {
      padding: 0 90px 0 90px;
      font-size: 28px;
      font-family: PingFang SC;
      font-weight: bold;
      color: #333333;
    }
  }

  .nospilt {
    border-bottom: none;
  }

  .noborder {
    border: none !important;
  }

  .split {
    height: 10px;
    margin: 10px -40px 10px -40px;
    background: #F4F4F4;
  }
}

.images {
  margin-top: 22px;
  margin-left: auto;

  ul {
    list-style: none;
    margin: auto;
    padding: 0;
    width: 650px;

    li {
      float: left;
      height: 200px;
      width: 200px;
      margin-right: 20px;
      margin-bottom: 20px;

      img {
        width: 200px;
        height: 200px;
      }
    }

    li:nth-child(3n) {
      margin-right: 0;
    }
  }
}

.images ul li {
  position: relative;

  img {
    width: 100% !important;
    width: 100% !important;
    object-fit: cover;
  }

  .cloes {
    width: 44px;
    height: 44px;
    position: absolute;
    top: -22px;
    right: -22px;
    z-index: 999;

    img {
      width: 100% !important;
      height: 100% !important;
    }
  }
}

.want-report {
  width: 600px;
  height: 90px;
  padding: 30px 70px 75px 70px;
  background-color: #fff;

  span {
    font-weight: bold;
    font-size: 32px;
    color: #FFFFFF;
  }
}

.tips {
  padding: 25px 20px 0px 20px;
  color: #ee0a24;
  font-size: 24px;
  text-align: left;
}

.textImages {
  padding: 0 !important;
  margin-top: 10px;

  .text {
    border: 1px solid #EEEEEE;
    border-radius: 6px;
    padding: 20px;
  }
}

/deep/ .van-button,
.van-button--primary,
.van-button--large {
  width: 600px;
  height: 90px;
}

/deep/ .van-cell::after {
  border-bottom: 1px solid #fff;
}
