.currentAffair {
  overflow: hidden;
  .nocontent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 28px;
    font-family: Microsoft YaHei;
    font-weight: 300;
    color: rgba(173, 183, 193, 1);
    margin-top: 350px;
    text-align: center;
    img {
      margin-bottom: 30px;
        width: 202px;
        height: 162px;
    }
  }
  .content {
    background: #ffffff;
    .iconTitle {
      width: 694px;
      padding: 0 28px 0 28px;
      border-bottom: 4px solid #f6f6f6;
      display: flex;
      overflow: hidden;
      margin-top: 20px;
      height: auto;
      .left {
        height: 90px;
        width: 90px;
        margin-right: 24px;
        img {
          border-radius: 10px;
          width: 100%;
          height: 100%;
        }
      }
      .right {
        width: 565px;
        .nameTitle {
          .name {
            height: 48px;
            overflow: hidden;
            margin-bottom: 13px;
            text-align: left;
            font-size: 30px;
            font-family: PingFang-SC-Heavy;
            font-weight: 800;
            color: rgb(23, 5, 124);
            .name-span{
              color: rgba(51, 51, 51, 1);
            }
            .examine-tag{
              margin-left: 10px;
            }
            .verification{
              display: flex;
              align-items: center;
              float: right;
              color: #898989;
              size: 28px;
              font-weight:500;
              img{
                width: 44px;
                height: 44px;
                margin-left: 5px;
              }
            }
          }
          .title {
            width: 100%;
            text-align: left;
            font-size: 30px;
            font-family: PingFang-SC-Medium;
            font-weight: 500;
            color: rgba(102, 102, 102, 1);
            height: auto;
            overflow: hidden;
          }
        }
        .icon {
          width: 100%;
          height: auto;
          margin: 0;
          margin-top: 22px;
          .images {
            height: 160px;
            display: inline-block;
            width: 175px;
            margin-bottom: 20px;
            margin-right: 10px;
            overflow: hidden;
            img {
              object-fit: cover;
              width: 175px;
              height: 160px;
            }
          }
        }
        .timecomment {
          width: 100%;
          font-size: 24px;
          color: #999999;
          display: flex;
          align-items: center;
          padding: 5px 0px 5px 0px;
          img {
            height: 30px;
            margin-right: 10px;
          }
          .state {
            flex: 0 0 auto;
            display: flex;
            align-items: center;
          }
          .time {
            flex: 0 0 auto;
          }
          .evaluate {
            flex: 0 0 auto;
            display: flex;
            align-items: center;
            font-size: 28px;
            font-family: PingFang-SC-Medium;
            font-weight: 500;
            color: rgba(153, 153, 153, 1);
            img {
              height: 30px;
              width: 30px;
              flex: 0 0 auto;
              margin-right: 10px;
            }
          }
          .schedule {
            height: 40px;
            padding: 0px 20px 0px 20px;
            background: #66b7f3;
            color: #ffffff;
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            border-radius: 5px;
          }
        }
        .right {
          justify-content: space-between;
          margin-bottom: 20px;
        }
      }

      .caseInfo {
        height: auto;
        font-size: 28px;
        color: red;
        margin-bottom: 15px;
      }
      .reply-list {
        width: 100%;
        padding: 20px 0;
        margin-bottom: 20px;
        border-top: 1px solid  #f6f6f6;
        > span {
          // margin-left: 20px;
          font-size: 28px;
          color: rgba(51, 51, 51, 1);
          font-weight: bold;
        }
        .reply-content {
          // margin: 0 20px;
          font-size: 28px;
          font-family: PingFang-SC-Medium;
          font-weight: 500;
          color: rgba(40, 40, 40, 1);
          span {
            display: inline-block;
            flex: 0 0 auto;
            margin-right: 20px;
            color: rgba(60, 138, 225, 1);
          }
        }
        .content_hide {
          overflow: hidden;
          text-overflow: -o-ellipsis-lastline;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          line-clamp: 3;
          -webkit-box-orient: vertical;
        }
        .replyDate{
          float: right;
          font-size: 24px;
          color: #999999;
        }
        .fullText {
          margin: 0 20px;
          margin-top: 10px;
          text-align: right;
          font-size: 30px;
          font-family: PingFang-SC-Medium;
          font-weight: 500;
          color: #66b7f3;
        }
        .reply-mark {
          display: flex;
          margin: 0 20px;
          margin-top: 20px;
          align-items: center;
          .mark-name {
            flex: 0 0 auto;
            margin-right: 20px;
            font-size: 28px;
            font-weight: bold;
            color: rgba(90, 103, 158, 1);
          }
          .mark-list {
            flex: 1;
            display: flex;
            align-items: center;
            .mark-list-tab {
              flex: 1;
              display: flex;
              align-items: center;
              justify-content: center;
              img {
                width: 41px;
                height: 39px;
              }
            }
          }
          .mark-but {
            flex: 0 0 auto;
            font-size: 28px;
            margin-left: 20px;
            padding: 3px 23px;
            font-family: PingFang-SC-Bold;
            font-weight: bold;
            color: rgba(7, 143, 255, 1);
            background: rgba(247, 247, 247, 1);
            border: 1px solid rgba(7, 143, 255, 1);
            border-radius: 4px;
          }
          .mark-but:active {
            background: #cccccc;
          }
        }
      }
      .govern{
        width: 100%;
        padding: 24px 0;
        margin-bottom: 36px;
        background: rgba(246, 246, 246, 1);
        text-align: center;
        color: rgba(137, 137, 137, 1);
        font-size: 28px;
        span{
          display: flex;
          justify-content: center;
          align-items: center;
          img{
            width: 28px;
            height: 30px;
            margin-right: 16px;
          }
        }
      }
      .operation_list {
        display: flex;
        align-items: center;
        padding-bottom: 20px;
        .operation_list_tab {
          flex: 1;
          .operation_list_tab_icon {
            display: flex;
            align-items: center;
            justify-content: center;
            img {
              width: 30px;
              height: 30px;
            }
          }
          .operation_list_tab_name {
            margin-top: 10px;
            text-align: center;
            font-size: 22px;
            font-weight: 400;
            color: rgba(39, 40, 40, 1);
          }
          .operation_list_tab_name_action {
            color: red;
          }
        }
        .operation_list_tab:active {
          background: #cccccc;
        }
      }
    }
    .bor {
      border: 0;
    }
  }
}