.Boutique_experience {
  padding: 0 0 180px 0;
  .Boutique_experience_item {
    margin-top: 30px;
    .van-swipe {
      margin: 0 30px 0 30px;
      border-radius: 10px;
    }
    .van-swipe-item {
      width: 690px;
      height: 360px;
      text-align: center;
      img {
        width: 690px;
        height: 360px;
        object-fit: cover;
      }
    }
    video {
      margin: 0 30px 0 30px;
      width: 690px;
      height: 360px;
      border-radius: 10px;
    }
    h4 {
      margin: 59px 30px 0 30px;
      border-bottom: 1px solid #e8e8e8;
      padding-bottom: 17px;
      margin-bottom: 0;
    }
    
    .line-one {
      margin: 0 30px 0 30px;
      display: flex;
      padding-top: 30px;
      padding-bottom: 30px;
      justify-content: space-between;
      .tag {
        flex: 1;
        .van-tag {
          margin-right: 10px !important;
          margin-bottom: 10px !important;
          span {
            color: rgba(51, 51, 51, 1);
          }
        }
      }
      
    }
    .line-two {
      margin: 0 30px 0 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 24px;
      span {
        display: flex;
        color: rgba(51, 51, 51, 1);
        justify-content: center;
        align-items: left;
        margin-bottom: 31px;

        img {
          margin-right: 13px;
          width: 24px;
          height: 24px;
        }
      }
      .release-data {
        color: rgba(51, 51, 51, 1);
      }

      .noyy-color {
        color: rgba(65, 135, 236, 1);
      }

      .successyy-color {
        color: rgba(102, 204, 102, 1);
      }

      .successbm-color {
        color: rgba(51, 51, 51, 1);
      }

      .failbm-color {
        color: rgba(51, 51, 51, 1);
      }
      .view-appointment {
        align-items: right;
        font-size: 24px;
        font-family: Microsoft YaHei;
        font-weight: 300;
        color: #66CC66;
      }
    }
    .line-three {
      margin: 0 30px 30px 30px;
      display: flex;
      justify-content: space-between;
      color: rgba(0, 0, 0, 1);
      font-size: 26px;
      font-weight: 400;
      span {
        display: flex;
        align-items: center;
        img {
          padding-right: 4px;
          width: 26px;
          height: 26px;
        }
      }
    }
    
    .line-four {
      margin: 0 30px 0 30px;
      display: flex;
      justify-content: space-between;
      font-size: 22px;
      
      p {
        display: flex;
        align-items: center;
        font-size: 22px;
        font-family: Microsoft YaHei;
        font-weight: 300;
        color: rgba(65, 135, 236, 1);
        margin: 0 0 30px 0;
        img {
          width: 24px;
          height: 24px;
          padding-right: 10px;
        }
      }
    }
    .spilt {
      width: 100%;
      height: 16px;
      background: rgba(246, 247, 249, 1);
    }
    .content {
      width: auto;
      margin: 0 30px 0 30px;
      color: rgba(51, 51, 51, 1);
      white-space: pre-line;
      /deep/ img {
        width: 100%;
        height: auto;
      }
    }
  }
  .appointment {
    position: fixed;
    width: 600px;
    height: 90px;
    bottom: 5px;
    left: 0;
    padding: 70px;
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      font-size: 32px;
      color: rgba(51, 51, 51, 1);
      img {
        padding-right: 10px;
        width: 35px;
        height: 36px;
      }
    }
  }
}

// vant轮播图
.custom-indicator {
  position: absolute;
  right: 5px;
  bottom: 5px;
  padding: 2px 5px;
  font-size: 36px;
  background: rgba(0, 0, 0, 0.1);
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  opacity: 0.75;
}
