.index {
  background:rgba(242,242,242,1);
  .head {
    background: #ffffff;
    height: 55vw;
    .icon {
      height: 300px;
      width: 100%;
      img{
        height: 100%;
        width: 100%;
      }
    }
    .category {
      padding: 30px;
      display: flex;
      position: relative;
      top:-100px;
      align-items: center;
      justify-content: space-between;
      .category-tab {
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        width:330px;
        height:143px;
        background:rgba(255,255,255,1);
        box-shadow:1px 2px 6px 0px rgba(34,34,34,0.09);
        border-radius:10px;
        .tab-left {
          flex: 0 0 auto;
          margin-left: 37px;
          .left-head {
            font-size:34px;
            font-weight:bold;
            color:rgba(51,51,51,1);
          }
          .left-base {
            margin-top: 15px;
            font-size:26px;
            font-weight:500;
            color:rgba(144,143,158,1);
          }
        }
        .tab-right {
          margin-left: 15px;
          flex: 0 0 auto;
          width:100px;
          height:100px;
          background: url('/static/zkbm/wybk.png') no-repeat;
          background-size: 100% 100%;
        }
        .tab-sjzp{
          background: url('/static/zkbm/jswybk.png') no-repeat;
          background-size: 100% 100%;
        }
      }
      .category-tab:last-child {
        .tab-right {
          background: url('/static/zkbm/wycx.png') no-repeat;
          background-size: 100% 100%;
        }
      }
    }
    // .category {
    //   margin-top: 30px;
    //   display: flex;
    //   align-items: center;
    //   justify-content: space-between;
    //   .category-tab {
    //     flex: 0 0 auto;
    //     width:330px;
    //     height:130px;
    //     text-align: left;
    //     border-radius:10px;
    //     background: url('/static/ybmimages/img_02.png') no-repeat;
    //     background-size: 100% 100%;
    //     font-size:32px;
    //     font-weight:500;
    //     color:rgba(255,255,255,1);
    //     line-height: 130px;
    //     .name {
    //       margin-left: 55px;
    //     }
    //   }
    //   .category-tab-medium {
    //     background: url('/static/ybmimages/img_03.png') no-repeat;
    //     background-size: 100% 100%;
    //   }
    // }
  }
  .inform {
    background: #ffffff;
    padding: 16px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    .inform-icon {
      flex: 0 0 auto;
      padding-right: 20px;
      width: 72px;
      height: 68px;
      border-right: 1px solid #cccccc;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .inform-content {
      flex: 1;
      padding-left: 20px;
      text-align: left;
      .inform-content-tab {
        .inform-title {
          font-size:30px;
          font-weight:400;
          color:rgba(51,51,51,1);
        }
        .inform-name {
          margin-top: 5px;
          font-size:24px;
          font-weight:400;
          color:rgba(155,155,155,1);
        }
        .inform-head {
          font-size:26px;
          font-weight:500;
          color:rgba(51,51,51,1);
          overflow: hidden;
          text-overflow: -o-ellipsis-lastline;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          line-clamp: 1;
          -webkit-box-orient: vertical;
        }
        .inform-base {
          margin-top: 15px;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          .infrom-base-tab {
            flex: 0 0 auto;
            margin-right: 30px;
            background:rgba(229,245,255,1);
            padding: 5px 18px;
            border-radius:4px;
            font-size:20px;
            font-weight:500;
            color:rgba(0,153,255,1);
          }
        }
      }
    }
  }
  .procedure {
    margin-top: 16px;
    background: #ffffff;
    padding: 30px;
    .procedure-name {
      // height: 40px;
      // width: 300px;
      // background: url('/static/ybmimages/title1.png') no-repeat;
      // background-size: 100% 100%;
      text-align: left;
      font-size:36px;
      font-weight:bold;
      color:rgba(51,51,51,1);
      span {
        color:  #0099FF;
      }
    }
    .procedure-list {
      margin-top: 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .bar {
        flex: 1;
        display: flex;
        align-items: flex-start;
        .icon-name {
          flex: 1;
          .icon {
            float: left;
            width:60px;
            height:60px;
            img {
              width:100%;
              height:100%;
            }
          }
          .name {
            float: left;
            padding-left: 10px;
            font-size:24px;
            font-weight:500;
            color:rgba(120,120,120,1);
            height:60px;
            line-height:60px;
          }
        }
        .procedure-bar {
          flex: 0 0 53px;
          margin: 0 5px;
          border-top: 2px dashed #BDDAED;
          margin-top: 30px;
          position: relative;
          .bar-icon {
            position: absolute;
            top: -7px;
            left: 15px;
            height:12px;
            width: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
              height:100%;
              width: 100%;
              -webkit-transform: rotateZ(270deg);
              transform: rotateZ(270deg);
            }
          }
        }
      }
      .bar:last-child {
        .procedure-bar {
          display: none;
        }
      }
    }
  }
  .information {
    margin-top: 16px;
    padding: 30px;
    background: #ffffff;
    .information-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .title-icon {
        flex: 0 0 auto;
        font-size:36px;
        font-weight:bold;
        color:rgba(51,51,51,1);
        // width: 140px;
        // height: 30px;
        // background: url('/static/ybmimages/zxdt.png') no-repeat;
        // background-size: 100% 100%;
      }
      .title-more {
        flex: 0 0 auto;
        font-size:24px;
        font-weight:500;
        color:rgba(103,103,103,1);
        display: flex;
        align-content: center;
        justify-content: center;
        .more-icon {
          margin-left: 8px;
          margin-top: 8px;
          width:27px;
          height:20px;
          background: url('/static/ybmimages/more.png') no-repeat;
          background-size: 100% 100%;
        }
      }
    }
    .information-list {
      margin-top: 30px;
      .information-tab {
        border-bottom: 1px dashed #cccccc;
        padding: 20px 0;
        .tab-head {
          min-height: 60px;
          text-align: left;
          overflow: hidden;
          text-overflow: -o-ellipsis-lastline;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          line-clamp: 2;
          -webkit-box-orient: vertical;
          font-size: 30px;
          color: black;
          line-height:54px;
        }
        .tab-base {
          margin-top: 20px;
          display: flex;
          align-items: center;
          font-size:24px;
          font-weight:500;
          color:rgba(153,153,153,1);
          .base-time {
            flex: 0 0 auto;
            display: flex;
            align-items: center;
            margin-right: 100px;
            .time-icon {
              width:26px;
              height:26px;
              margin-right: 10px;
              background: url('/static/ybmimages/time.png') no-repeat;
              background-size: 100% 100%;
            } 
          }
          .base-tab {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            .tab-icon {
              width:26px;
              height:26px;
              margin-right: 10px;
              background: url('/static/ybmimages/browse.png') no-repeat;
              background-size: 100% 100%;
            }
          }
        }
      }
    }
  }
}