p {
  padding: 0;
  margin: 0;
}

.swipe {
  width: 100%;

  .img {
    width: 100%;
    height: 340px;
  }
}

.container {
  padding: 31px;
  background: linear-gradient(196deg, #3E6EF4, #56BEF3);

  .container_box {
    border-radius: 10px;

    .content {
      padding: 0 30px;
      padding-bottom: 18px;
      background-color: #fff;
      border-radius: 10px;

      .title {
        text-align: center;
        font-size: 32px;
        font-weight: bold;
        color: #333333;
        padding: 40px 0 25px 0;
      }

      .content_item {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 28px;
        font-weight: 500;
        padding: 20px 0;
        border-bottom: 1px solid #f4f4f4;

        .label {
          flex: 1;
          color: #898989;
        }

        .item {
          flex: 3.2;
          color: #333333;
        }
      }

      .information {
        background-color: #fff;
        padding: 20px 0;
        border-bottom: 1px solid #f4f4f4;

        .label {
          font-size: 30px;
          font-weight: 500;
          color: #898989;
          padding: 15px 0;
        }

        .item {
          font-size: 28px;
          font-weight: 500;
          color: #333333;
          line-height: 50px;
        }

        .video {
          width: 100%;
          height: 368px;
          margin-top: 20px;
        }

        .imgList {
          width: 100%;

          .van-swipe {
            width: 100%;

            /deep/ .van-swipe__indicators {
              left: 88%;
            }

            /deep/ .van-swipe__indicator {
              width: 16px;
              height: 16px;
              background: rgba(0, 0, 0, 0.38);
            }

            /deep/ .van-swipe__indicator--active {
              background: rgba(255, 255, 255, 1);
            }

            .van-image {
              width: 100%;
            }
          }
        }
      }
    }


  }

}
