.element-dy {
  margin: 0;
  padding: 0;
  .main {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 28px;
    .hread {
      width: 750px;
      padding-top: 30px;
      .title {
        text-align: center;
        font-size: 38px;
        font-weight: bold;
      }
      div {
        overflow: hidden;
      }
      .message {
        display: inline-block;
        width: 360px;
        text-align: center;
        margin-top: 30px;
        font-weight: 200;
        font-size: 28px;
        img {
          width: 28px;
          height: 28px;
          margin-right: 15px;
        }
      }
    }
    .pages {
      padding: 0px 20px 0px 20px;
    }
    .fot {
      width: 750px;
      margin-top: 30px;
      .message {
        float: right;
        width: 200px;
        font-weight: 200;
        font-size: 28px;
        img {
          width: 28px;
          height: 28px;
          margin-right: 15px;
        }
      }
      div {
        overflow: hidden;
      }
      .but {
        margin-top: 20px;
        padding-top: 20px;
        border-top: 1px solid;
        border-color: #999999;
        width: 706px;
        margin-left: 22px;
        div {
          display: inline-block;
          height: 50px;
          font-size: 30px;
          color: #ffffff;
          line-height: 50px;
          width: 325px;
          text-align: center;
          background: #1882d6;
          border-radius: 10px;
        }
        div:active{
          background: #999999;
        }
        div:first-child {
          float: left;
        }
        div:last-child {
          float: right;
        }
      }
    }
    .item {
      width: 706px;
      margin-left: 22px;
      border-bottom: 1px solid;
      padding-top: 30px;
      border-color: #999999;
      .xinxi {
        ul {
          list-style: none;
          padding: 0;
          overflow: hidden;
          margin: 0; font-size: 23px;
          margin-bottom: 10px;
          li {
            float: left;
            img {
              width: 80px;
              height: 80px;
              display: inline-block;
              border-radius: 100%;
              margin-right: 30px;
            }
            span {
              font-size: 23px;
              font-weight: bold;
            }
            p {
              margin: 0;
              margin-top: 20px;
              font-weight: 200;
            }
          }
          li:last-child {
            float: right;
            margin-right: 40px;
            margin-top: 20px;
          }
        }
      }
      .neirong {
        padding-left: 110px;
        width: 500px;
        height: auto;
        word-wrap: break-word;
        word-break: break-all;
        overflow: hidden;
        margin-bottom: 30px;
      }
    }
  }
  .comment {
    width: 750px;
    background: #f2f2f2;
    position: fixed;
    bottom: -390px;
    transition: bottom 1s;
    z-index: 1;
    -moz-transition: bottom 1s; /* Firefox 4 */
    -webkit-transition: bottom 1s; /* Safari 和 Chrome */
    -o-transition: bottom 1s; /* Opera */
    textarea {
      width: 710px;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 20px;
      height: 300px;
      border: none;
    }
    div {
      margin-top: 15px;
      height: 60px;
      width: 750px;
      background: #1882d6;
      font-size: 30px;
      line-height: 60px;
      color: #ffffff;
      text-align: center;
    }
  }
  .sc {
    bottom: 0;
  }
  .ceng {
    position: fixed;
    top: 0;
    bottom: 0px;
    width: 750px;
    opacity: 0.5;
    background: black;
  }
}
