.qyxcxq {
  background: #ffffff;
  min-height: 100vh;
  padding: 30px;
  .head {
    border-bottom: 1px solid rgba(215,215,215,1);
    padding-bottom: 30px;
    .head_title {
      font-size:36px;
      font-weight:400;
      color:rgba(51,51,51,1);
    }
    .head_add {
      margin-top: 40px;
      display: flex;
      align-items: center;
      .head_add_img {
        flex: 0 0 auto;
        margin-right: 20px;
        display: flex;
        align-items: center;
        img {
          width:32px;
          height:26px;
        }
      }
      .head_add_name {
        flex: 1;
        font-size:26px;
        font-weight:500;
        color:rgba(102,102,102,1);
        text-align: left;
      }
    }
    .head_time_number {
      display: flex;
      align-items: center;
      margin-top: 30px;
      .time_number {
        flex: 1;
        display: flex;
        align-items: center;
        .time_number_icon {
          flex: 0 0 auto;
          margin-right: 10px;
          display: flex;
          align-items: center;
          img{
            width:24px;
            height:24px;
          }
        }
        .time_number_name {
          text-align: left;
          font-size:26px;
          font-weight:500;
          color:rgba(102,102,102,1);
        }
      }
    }
  }
  .content {
    padding-top: 38px;
    padding-bottom: 20px;
    font-size:30px;
    font-weight:400;
    color:rgba(52,52,52,1);
  }
  .imgaes {
    .imgae_tab {
      width: 690px;
      margin-bottom: 20px;
    }
  }
}