body,html{
  min-height: 100vh;
}
.el-select-dropdown__item {
    white-space: normal !important;
    height: auto !important;
  }
  .el-checkbox {
    white-space: normal !important;
    height: auto !important;
  }
  .el-checkbox__label {
    display: initial !important;
  }
  .el-checkbox-group {
    padding-bottom: 30px;
  }
  .el-message-box {
    width: 80% ! important;
    margin: auto;
  }
  .el-message {
    width: 80% !important;
    top: 6vw !important;
  }
  .el-message .el-message__content {
    font-size: 4vw !important;
  }
img {
  pointer-events: none;
}

p {
  -webkit-user-select:text;
  -moz-user-select:text;
  -ms-user-select:text;
  user-select:text;
}

div {
  word-wrap:break-word;
  word-break:break-all;
}
a {
  list-style: none;
  text-decoration:none;
  color:rgba(74,74,74,1);
}
a:active {
  color: rgb(0, 0, 238);
}
input{
  list-style: none;
  border: none;
  padding: 0;
  right: 0;
  font-size: 30px;
  color:rgba(102,102,102,1);
  font-weight: 530;
  -webkit-user-select: auto!important;
  -khtml-user-select: auto!important;
  -moz-user-select: auto!important;
  -ms-user-select: auto!important;
  -o-user-select: auto!important;
  user-select: auto!important;
}
input::-webkit-input-placeholder {
  /* placeholder颜色  */
  color:rgba(153,153,153,1);
  /* placeholder字体大小  */
  font-size: 30px;
  /* placeholder位置  */
  text-align: left;
}
textarea {
  list-style: none;
  border: none;
  padding: 0;
  right: 0;
  font-size: 30px;
  color:rgba(102,102,102,1);
  font-weight: 530;
}
textarea::-webkit-input-placeholder {
  /* placeholder颜色  */
  color:rgba(153,153,153,1);
  font-weight: 530;
  /* placeholder字体大小  */
  font-size: 30px;
  /* placeholder位置  */
  text-align: left;
  -webkit-user-select: auto!important;
  -khtml-user-select: auto!important;
  -moz-user-select: auto!important;
  -ms-user-select: auto!important;
  -o-user-select: auto!important;
  user-select: auto!important;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

// 全局选择导航样式
.public_top_select {
  background: #FFFFFF;
  display: flex;
  align-items: center;
  padding:20px 15px;
  .public_top_select_tab {
    flex: 1;
    margin: 0 15px;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    border:1px solid rgba(61, 158, 231, 1);
    border-radius:10px;
    font-size:28px;
    font-weight:500;
    background:rgba(255,255,255,1);
    color:rgba(55,157,234,1);
  }
  .public_top_select_tab_action{
    color:rgba(255,255,255,1);
    background:rgba(102,183,243,1);
  }
  .public_top_select_tab:active{
    background: #cccccc;
  }
}
.public_top_select_action {
  padding-bottom: 0;
}

// 全局提交按钮样式
.public_but {
  flex: 1;
  text-align: center;
  min-height: 80px;
  background:rgba(55,157,234,1);
  border-radius:10px;
  font-size:32px;
  font-weight:400;
  color:rgba(254,255,255,1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.public_but:active {
  background: #cccccc;
}

// 全局顶部轮播图样式
.public_head_imgae {
  padding:20px 30px 0 30px ;
  width:690px;
  height:260px;
  .swiImgs {
    height:260px;
    img{
      width:690px;
      height:260px;
      border-radius:20px;
      pointer-events: all;
    }
  }
  .swiper-pagination {
    text-align: right;
    left: 20px !important;
    right: 20px !important;
    width: auto !important;
    .swiper-pagination-bullet {
      height: 20px;
      width: 20px;
    }
    .swiper-pagination-bullet{
      background:#ffffff;
    }
  }
  .public_head_imgae_icon {
    width:690px;
    height:260px;
    border-radius:20px;
  }
  .public_head_imgae_siteIcon {
    position: relative;
    height: 120px;
    margin-top: -120px;
    z-index: 1;
    display: flex;
    .public_head_imgae_icon {
      height: 97px;
      width: 97px;
      margin-top: 3px;
      margin-bottom: 20px;
      margin-left: 20px;
      border: 5px solid;
      border-color: #ffffff;
      border-radius: 15px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .public_head_imgae_site {
      margin-left: 20px;
      display: flex;
      .public_head_imgae_min-icon {
        margin-top: 67px;
        height: 32px;
        width: 24px;
        margin-right: 17px;
        img {
          width: 100%;
          height: 100%;
          margin-bottom: 20px;
        }
      }
      span {
        margin-top: 60px;
        overflow: hidden;
        display: inline-block;
        margin-bottom: 20px;
        font-size: 32px;
        font-family: PingFang-SC-Heavy;
        font-weight: 800;
        color: rgba(242, 249, 255, 1);
      }
    }
  }
}

// 全局导航图标样式
.public_list_tag {
  padding: 36px 0 0 0;
  background: #FFFFFF;
  .public_note_Data {
    height: 278px;
    width: 100%;
    background: #ffffff;
  }
  .list_tag_list {
    background: #FFFFFF;
    ul {
      .list_tag_list_tab {
        float: left;
        width: 25%;
        padding-bottom: 36px;
        position: relative;
        .list_tab_icon {
          display: flex;
          align-items: center;
          justify-content: center;
          .list_tab_icon_qy {
            width:100px;
            height:100px;
          }
          .list_tab_icon_index {
            width:60px;
            height:56px;
          }
        }
        .list_tab_name {
          margin-top: 15px;
          text-align: center;
          font-size:28px;
          font-weight:500;
          color:rgba(0,0,0,1);
        }
        .list_tab_number {
          position: absolute;
          top: -12px;
          left: 110px;
          right: 0;
          width:52px;
          height:30px;
          background:rgba(255,0,0,1);
          border-radius:15px 15px 15px 0px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size:26px;
          font-weight:500;
          color:rgba(255,255,255,1);
          overflow: hidden;
        }
      }
    }
  }
}

// 通知公告全局样式
.publicNotification {
  padding: 0 30px;
  .publicNotification_content {
    width:690px;
    border:1px solid rgba(220,220,220,1);
    border-radius:20px;
    display: flex;
    align-items: center;
    padding: 22px 0;
    .publicNotification_content_icon {
      flex: 0 0 auto;
      margin-right: 30px;
      margin-left: 30px;
      display: flex;
      align-items: center;
      img{
        width:83px;
        height:83px;
      }
    }
    .publicNotification_content_tab {
      flex: 1;
      padding-right: 20px;
      height: 96px;
      .swiImgs {
        margin: 0px;
        height: 96px;
        z-index: 0;
        .swname {
          width: 100%;
          .publicNotification_content_tab_name {
            display: flex;
            align-items: center;
            overflow: hidden;
            .content_tab_name_text {
              flex: 1;
              font-size:28px;
              font-weight:bold;
              color:rgba(40,40,40,1);
              margin-right: 30px;
              overflow: hidden;
              text-overflow: -o-ellipsis-lastline;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 1;
              line-clamp: 1;
              -webkit-box-orient: vertical;
            }
            .content_tab_name_time {
              flex: 0 0 auto;
              font-size:24px;
              font-weight:500;
              color:rgba(150,150,150,1);
            }
          }
          .publicNotification_content_tab_name_margin {
            margin-top: 16px;
          }
        }
      }
    }
  }
}

// 首页底部展示信息全局样式
.pushMessage {
  padding: 30px 0px 20px 0px;
  background: #ffffff;
  .pushMessage_tab {
    display: flex;
    align-items: center;
    padding: 0 30px;
    .pushMessage_tab_icon {
      flex: 0 0 auto;
      min-width: 200px;
      min-height: 46px;
      font-size:28px;
      font-weight:bold;
      color:rgba(255,255,255,1);
      padding: 2px 0;
      padding-left: 14px;
      display: flex;
      align-items: center;
      background: url('/static/zxdt@2x.png') no-repeat;
      background-size: 100% 100%;
      margin-bottom: 10px;
    }
    .pushMessage_tab_name {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      font-size:28px;
      font-weight:500;
      color:rgba(103,103,103,1);
      img {
        flex: 0 0 auto;
        width:27px;
        height:20px;
      }
    }
  }
  .public_content {
    padding: 0 10px;
  }
}
.pushMessage_action {
  padding-top: 0px;
}

// 全局列表样式
.publicListTab {
  background: #ffffff;
  padding: 0 30px;
  .public_list {
    border-bottom: 1px solid rgba(230,230,230,1);
    padding: 28px 0 7px 0;
    display: flex;
    align-items: center;
		&:last-child{
			border: none;
		}
    .public_list_left {
      flex: 1;
      .public_list_head {
        display: flex;
        align-items: center;
        .public_list_head_name {
          flex: 1;
          font-size:30px;
          font-weight:500;
          color:rgba(14,14,14,1);
          text-align: left;
          overflow: hidden;
          text-overflow: -o-ellipsis-lastline;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          line-clamp: 1;
          -webkit-box-orient: vertical;
          .lx_span{
            display: inline-block;
            padding: 8px 20px;
            font-size:28px;
            font-weight:400;
            color:rgba(255,174,0,1);
            background:rgba(255,237,226,1);
            border-radius:8px;
            margin-right: 10px;
          }
        }
        .public_list_head_name_mailbox_not {
          -webkit-line-clamp: 2;
          line-clamp: 2;
        }
        .public_list_head_but{
          flex: 0 0 auto;
          margin-left: 50px;
          font-size: 28px;
          font-weight:500;
          color:rgba(255,255,255,1);
          padding: 5px 20px;
          background:rgba(255,130,46,1);
          border-radius:4px;
        }
        .public_list_head_but_action {
          background:rgba(255,204,102,1);
          color:rgba(255,255,255,1);
        }
      }
      .public_list_head_mailbox_not {
        min-height: 70px;
        margin-bottom: 38px;
      }
      .public_list_middle{
        margin: 20px 0 30px 0;
        font-size:26px;
        font-weight:400;
        color:rgba(100,100,100,1);
        overflow: hidden;
        text-overflow: -o-ellipsis-lastline;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
      }
      .public_list_base {
        display: flex;
        align-items: center;
        font-size:22px;
        font-family:PingFang-SC-Regular;
        font-weight:400;
        color:rgba(180,180,180,1);
        margin-bottom: 20px;
        .public_list_state{
          width:100px;
          height:30px;
          border-radius:4px;
          font-size:20px;
          color:rgba(255,255,255,1);
          text-align: center;
          line-height: 30px;
        }
        .public_list_state_blue{
          background:rgba(130,192,255,1);
        }
        .public_list_state_yellow{
          background:rgba(255,193,138,1);
        }
        .public_list_state_gray{
          background:rgba(223,223,223,1);
        }
        .public_list_state_red{
          background:rgba(255,153,153,1);
        }
        .public_list_base_li ,.public_list_reading{
          flex: 1;
          display: flex;
          align-items: center;
          img {
            width:22px;
            height:22px;
            border-radius:10px;
            margin-right: 10px;
          }
          .public_list_base_li_but {
            font-size:28px;
            font-family:PingFang-SC-Medium;
            font-weight:500;
            color:rgba(255,255,255,1);
            padding: 5px 20px;
            background:rgba(255,204,102,1);
            border-radius:4px;
          }
          .public_list_base_li_but_action {
            background:rgba(255,153,153,1);
            color:rgba(255,255,255,1);
          }
        }
        .public_list_base_time {
          flex: 0 0 auto; 
          margin-right: 50px;
        }
        .public_list_base_but{
          flex: 1;
          display: flex; 
          align-items: center;
          justify-content: flex-end;
        }
      }
      .public_list_base_consult {
        margin-bottom: 8px;
      }
    }
  }
  .public_list_right {
    flex: 0 0 auto;
    margin-left: 30px;
    img{
      width:182px;
      height:140px;
      border-radius:2px;
    }
  }
}

// 全局底部导航样式
.publicBaseTab {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height:120px;
  z-index: 99999999;
  background: #ffffff;
  .base-tab-list {
    display: flex;
    align-items: center;
    justify-content: center;
    height:120px;
    .base-tab {
      flex: 1;
      .base-tab-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 60px;
          height: 56px;
        }
      }
      .base-tab-name {
        text-align: center;
        font-size:28px;
        font-weight:500;
        color:rgba(142,142,142,1);
      }
      .base-tab-name-action {
        color:rgba(255,99,43,1);
      }
    }
  }
}

// 疫情列表样式
.public-yq-list {
  background:rgba(238,238,238,1);
  padding: 0 30px;
  .public-yq-list-tab {
    display: flex;
    height: auto;
    padding-top: 20px;
    .yq-list-tab-left {
      flex: 0 0 auto;
      margin-right: 16px;
      height: auto;
      overflow: hidden;
      .yq-list-tab-left-icon {
        width:14px;
        height:14px;
        margin-top: 12px;
        background:rgba(83,148,242,1);
      }
      .yq-list-tab-left-border {
        height: 100%;
        margin-left: 5px;
        margin-top: 10px;
        border-left:2px solid rgba(210,210,210,1);
      }
    }
    .yq-list-tab-right {
      flex: 1;
      .yq-list-tab-right-head {
        font-size:28px;
        font-weight:400;
        color:rgba(51,51,51,1);
      }
      .yq-list-tab-right-middle {
        background: #ffffff;
        padding:0 20px 20px 20px;
        margin-bottom: 10px;
        border-radius:10px;
        margin-top: 20px;
        .yq-list-tab-content {
          display: flex;
          align-items: center;
          padding-top: 20px;
          .yq-list-tab-content-left {
            flex: 0 0 auto;
            min-width: 114px;
            margin-right: 26px;
            font-size:28px;
            font-weight:400;
            color:rgba(137,137,137,1);
          }
          .yq-list-tab-content-middle {
            flex: 1;
            font-size:28px;
            font-weight:400;
            color:rgba(51,51,51,1);
          }
          .yq-list-tab-content-right {
            flex: 0 0 auto;
            font-size:28px;
            font-weight:400;
            color:rgba(64,175,246,1);
          }
          .yq-list-tab-content-right-action {
            color:rgba(240,37,37,1);
          }
        }
      }
    }
  }
}
// 全局长按钮样式
.public-long-but {
  height:80px;
  background:rgba(255,197,1,1);
  border-radius:10px;
  line-height: 80px;
  text-align: center;
  font-size:32px;
  font-weight:400;
  color:rgba(51,51,51,1);
}
.public-long-but-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  i {
    display: flex;
    width:34px;
    height:29px;
    margin-right: 20px;
    background: url('/static/ybmimages/tianjia.png') no-repeat;
    background-size: 100% 100%;
  }

  .icon_2 {
    background: url('/static/ybmimages/xq_img_06.png') no-repeat;
    background-size: 100% 100%;
  }
}
.yellow-btn2 {
  background: #ffffff;
  margin-top: 17px;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .base-tab {
    flex: 0 0 auto;
    width:320px;
  }
  .width{
    width: 690px;
  }
  .base-but {
    padding: 45px;
  }
}

.public-long-but:active {
  // background: #cccccc;
  background: #e7b200;
}