.hdgz {
  background: #f72547;

  .bg {
    width: 100%;
    background-image: url('./image/bg.png');
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-top: 355px;

    .title {
      width: 457px;
      height: 84px;
      position: absolute;
      top: 330px;
      left: 147px;

      img {
        width: 100%;
      }

      .title-text {
        font-size: 40px;
        line-height: 84px;
        width: 457px;
        text-align: center;
        font-family: Microsoft YaHei UI;
        font-weight: bold;
        color: #ffffff;
        position: absolute;
        top: 0;
      }
    }

    .content {
      width: 700px;
      background: #ffffff;
      box-shadow: 0px 1px 27px 0px rgba(0, 0, 0, 0.27);
      border-radius: 10px;
      margin: 0 auto;
      margin-bottom: 40px;
      padding-top: 80px;
      padding-bottom: 20px;

      .item {
        width: 560px;
        font-size: 34px;
        font-family: Microsoft YaHei UI;
        font-weight: 400;
        color: #626262;
        line-height: 60px;
        margin: 20px 40px 20px 100px;
        position: relative;

        .red {
          color: #ff3232;
        }

        .blue {
          color: #046eff;
        }

        .spot {
          width: 32px;
          height: 40px;
          line-height: 40px;
          padding-left: 8px;
          border-radius: 50%;
          background: #ffec00;
          position: absolute;
          left: -50px;
          top: 10px;
        }

        .last-spot {
          width: 40px;
          padding-left: 0;
        }
      }

      .table-img {
        width: 650px;
        height: 403px;
        background-image: url('./image/table.png');
        background-size: 100%;
        background-repeat: no-repeat;
        margin: 0 auto;
        padding-top: 1px;

        .table-item {
          height: 70px;
          width: 650px;
          line-height: 70px;
          margin: 7px 0;
          font-size: 32px;
          font-family: Microsoft YaHei UI;
          font-weight: bold;
          color: #ffffff;

          .table-left {
            display: inline-block;
            text-align: center;
            width: 430px;
            height: 70px;
          }

          .table-right {
            display: inline-block;
            text-align: center;
            width: 220px;
            height: 70px;
          }
        }
      }
    }

    .btn {
      width: 700px;
      height: 100px;
      background: linear-gradient(95deg, #ff7d27 0%, #ff9830 100%);
      border-radius: 10px;
      text-align: center;
      font-size: 40px;
      font-family: Microsoft YaHei UI;
      font-weight: 400;
      color: #ffffff;
      line-height: 100px;
      margin: 0 auto;
      margin-bottom: 50px;
    }
  }
}
