.waterfall {
    padding: 0 30px;
    position: relative;
    bottom: 0px;
    .search {
        display: flex;
        align-items: center;
        input {
            height: 68px;
            background: rgba(245, 245, 245, 1);
            border-radius: 34px;
            font-size: 30px;
            font-family: PingFang SC;
            font-weight: 400;
            color: rgba(163, 163, 163, 1);
            // width: 690px;
            width: 100%;
            padding-left: 65px;
            // &::-webkit-input-placeholder {
            //     padding-left: 65px;
            // }
        }
        .searchBtn {
            display: flex;
            align-items: center;
            position: absolute;
            left: 50px;
            // top: 18px;
            img {
                width: 34px;
                height: 34px;
            }
        }
    }
    .waterfullBox {
        margin-top: 24px;
        // column-count: 2;
        // column-gap: 18px;
        padding: 0 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .left {
            width: 48%;
        }
        .right {
            width: 48%;
        }
        .content {
            // width: 336px;
            // break-inside: avoid;
            .wrapImg {
                position: relative;
                .pic {
                    border-radius: 10px;
                    width: 100%;
                }
                .like {
                    position: absolute;
                    padding: 3px 16px 3px 16px;
                    border-radius: 14px;
                    bottom: 17px;
                    right: 0px;
                    color: #fff;
                    font-size: 20px;
                    font-family: PingFang SC;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    z-index: 999;
                    text-shadow: 1px 0px 2px rgba(34, 34, 34, 0.32);
                    .heart {
                        width: 18px;
                        height: 16px;
                        margin-right: 5px;
                    }
                }
                .num {
                    font-size: 32px;
                    font-family: Adobe Heiti Std;
                    font-weight: normal;
                    color: rgba(254, 254, 254, 1);
                    text-shadow: 0px 6px 8px rgba(0, 0, 0, 0.4);
                    position: absolute;
                    top: -10px;
                    left: 14px;
                    margin-top: 10px;
                    span {
                        font-size: 50px;
                    }
                }
                .digit {
                    position: absolute;
                    bottom: 17px;
                    left: 14px;
                    background: rgba(0, 0, 0, .3);
                    // opacity: 0.3;
                    border-radius: 14px;
                    font-size: 20px;
                    font-family: PingFang SC;
                    font-weight: 500;
                    color: rgba(255, 255, 255, 1);
                    padding: 3px 12px;
                }
            }
            .wrap {
                // margin-top: 20px;
                display: flex;
                .avatar {
                    margin-right: 10px;
                    border-radius: 50%;
                    width: 34px;
                    height: 34px;
                }
                .info {
                    font-size: 26px;
                    font-family: PingFang SC;
                    font-weight: 400;
                    color: rgba(51, 51, 51, 1);
                    line-height: 32px;
                    margin: 0;
                    display: -webkit-box;
                    text-overflow: ellipsis;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }
            }
            .wrap-last {
                margin-bottom: 25px;
            }
            .call {
                width: 100%;
                height: 66px;
                margin-top: 25px;
                margin-bottom: 27px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: rgba(255, 219, 37, 1);
                border-radius: 34px;
                font-size: 30px;
                font-family: PingFang SC;
                font-weight: bold;
                color: rgba(51, 51, 51, 1);
            }
            .hasCall {
                width: 100%;
                height: 66px;
                margin-top: 25px;
                margin-bottom: 27px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: #C7C7C7;
                border-radius: 34px;
                font-size: 30px;
                font-family: PingFang SC;
                font-weight: bold;
                color: rgba(255, 255, 255, 1);
            }
        }
    }
    .dialog {
        width: 600px;
        height: 350px;
        background: rgba(255, 255, 255, 1);
        border-radius: 10px;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        .title {
            font-size: 32px;
            font-family: PingFang SC;
            font-weight: bold;
            color: rgba(51, 51, 51, 1);
            margin-top: 106px;
        }
        .info {
            font-size: 28px;
            font-family: PingFang SC;
            font-weight: 400;
            color: rgba(51, 51, 51, 1);
            margin-top: 34px;
            margin-bottom: 72px;
        }
        .footer {
            display: flex;
            justify-content: space-around;
            align-items: center;
            .cancel,
            .confirm {
                flex: 1;
                padding-top: 5px;
                padding-bottom: 5px;
                border-top: 1px solid #EDEDED;
                font-size: 32px;
                font-family: PingFang SC;
                font-weight: 500;
                color: rgba(51, 51, 51, 1);
            }
            .cancel {
                border-right: 1px solid #EDEDED;
            }
        }
    }
}

.mask {
    filter: grayscale(50%);
}