.main {
  position: relative;

  .img {
    img {
      width: 100%;
    }
  }

  .input {
    width: 100%;
    padding: 10px 30px;
    box-sizing: border-box;

    .btn {
      width: 100%;
      height: 80px;
      line-height: 80px;
      background-color: #f4f4f4;
      font-size: 24px;
      font-family: PingFang SC;
      font-weight: 400;
      color: #898989;
      text-indent: 1em;
      border-radius: 6px;
    }
  }

  .info {
    box-sizing: border-box;
    margin: 10px 40px;
    border: solid 1px #ddd;
    padding: 20px;
    font-size: 30px;
    font-weight: 700;
    color: red;
    line-height: 30px;
    text-align: center;
  }

  .scroll {
    position: fixed;
    top: 420px;
    bottom: 0;
    overflow: auto;
    left: 0;
    right: 0;

    .info {
      box-sizing: border-box;
      margin: 10px 40px;
      border: solid 1px #ddd;
      padding: 20px;
      font-size: 24px;
      line-height: 24px;
      text-align: center;
    }

    .line {
      font-size: 24px;
      font-family: PingFang SC;
      font-weight: 400;
      color: #acacac;
      line-height: 45px;
      text-align: center;
    }

    .my-pl {
      .r {
        font-size: 28px;
        font-family: PingFang SC;
        font-weight: 400;
        color: #546892;

        .select {
          color: #acacac;
        }
      }
    }

    .xinxi {
      width: 100%;
      display: flex;
      box-sizing: border-box;
      padding: 20px;

      .left {
        width: 15%;
        padding-left: 30px;

        img {
          width: 75px;
          height: 75px;
          border-radius: 10px;
        }
      }

      .right {
        width: 85%;

        .head {
          .name {
            float: left;
            font-size: 28px;
            font-family: PingFang SC;
            font-weight: bold;
            color: #333333;
          }

          .r {
            float: right;
            position: relative;

            .icon {
              position: absolute;
              top: 8px;
              right: 80px;
              width: 27px;
              height: 29px;
            }

            .num {
              font-size: 28px;
              line-height: 40px;
              margin-right: 15px;
              font-family: PingFang SC;
              font-weight: 400;
              color: #546892;
            }
          }
        }

        .content {
          p {
            margin-top: 50px;
            margin-bottom: 0px;
            font-size: 28px;
            font-family: PingFang SC;
            font-weight: 400;
            color: #333333;
          }
        }
      }
    }
  }

  .plus-icon-enter {
    transform: translateY(80%);
  }

  .plus-icon-enter-active {
    transition: ease 0.3s;
  }

  .plus-icon-enter-to {
    transform: translateY(0);
  }

  .pl {
    position: fixed;
    top: 20%;
    width: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 99;
    background: #fff;
    text-align: center;
    padding: 30px;
    border-radius: 20px 20px 0 0;
    box-sizing: border-box;

    .head {
      display: flex;
      justify-content: space-between;

      .title {
        font-size: 30px;
        font-family: PingFang SC;
        font-weight: bold;
        color: #333333;
      }

      .btn {
        width: 100px;
        height: 60px;
        font-size: 30px;
        line-height: 60px;
        margin-top: -10px;
        background: #eee;
        border-radius: 8px;
      }
    }

    textarea {
      width: 100%;
      margin-top: 30px;
      padding: 10px;
      height: 600px;
    }
  }
}
