.wd {
  background: #ffffff;
  .page-head {
    height: 290px;
    background: url('/static/newEditionIndex/background1.png') no-repeat;
    background-size: 100% 100%;
  }
  .page-middle {
    height: 143px;
    background: #ffffff;
    position: relative;
    .middle-content {
      position: absolute;
      left: 31px;
      right: 31px;
      bottom: 0;
      width:688px;
      height:286px;
      background:rgba(255,255,255,1);
      box-shadow:0px 5px 17px 1px rgba(77,92,241,0.08);
      border-radius:4px;
      .middle-head {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        .icon {
          position: absolute;
          top: -70px;
          width:140px;
          height:140px;
          img {
            width:140px;
            height:140px;
            border-radius: 50%;
          }
        }
      }
      .middle-site {
        margin-top: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size:28px;
        font-weight:bold;
        color:rgba(40,40,40,1);
        i {
          flex: 0 0 auto;
          display: inline-block;
          width:20px;
          height:28px;
          background: url('/static//newEditionIndex//site.png') no-repeat;
          background-size: 100% 100%;
          margin-right: 15px;
        }
      }
      .middle-list {
        margin-top: 30px;
        padding: 0 70px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .middle-list-tab {
          flex: 0 0 auto;
          .middle-list-tab-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            img {
              width: 60px;
              height: 56px;
            }
          }
          .middle-list-tab-name {
            text-align: center;
            margin-top: 18px;
            font-size:28px;
            font-weight:500;
            color:rgba(16,16,16,1);
          }
        }
      }
    }
  }
  .page-base {
    padding: 0 31px;
    .base-list {
      .base-list-tab {
        border-bottom: 1px solid rgba(245,250,255,1);
        padding: 35px 0;
        display: flex;
        align-items: center;
        .list-tab-left {
          flex: 0 0 auto;
          margin-right: 34px;
          display: flex;
          align-items: center;
          img {
            width:29px;
            height:33px;
          }
        }
        .list-tab-middle {
          flex: 1;
          text-align: left;
          font-size:28px;
          font-weight:400;
          color:rgba(16,16,16,1);
        }
        .list-tab-right {
          flex: 0 0 auto;
          margin-left: 10px;
          i {
            display: inline-block;
            width:9px;
            height:16px;
            background: url('/static/newEditionIndex/jiantou.png') no-repeat;
            background-size: 100% 100%;
          }
        }
      }
    }
  }
}