.sjgk {
  background:rgba(248,248,248,1);
  .content-tab {
    background: #ffffff;
    padding: 0 30px;
    padding-bottom: 43px;
    margin-bottom: 20px;
    .tab-head {
      padding-top: 43px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .head-left {
        font-size:32px;
        font-weight:bold;
        color:rgba(51,51,51,1);
      }
      .head-right {
        font-size:28px;
        font-weight:400;
        color:rgba(137,137,137,1);
      }
    }
    .tab-base {
      .base-tag {
        float: left;
        width: 50%;
        margin-top: 43px;
        .tag-content {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          .content-icon {
            flex: 0 0 auto;
            img {
              width: 72px;
              height: 72px;
            }
          }
          .content-right {
            flex: 1;
            text-align: center;
            .number {
              font-size:36px;
              font-weight:bold;
              color:rgba(255,193,38,1);
            }
            .name {
              font-size:28px;
              font-family:Microsoft YaHei;
              font-weight:400;
              color:rgba(153,153,153,1);
            }
          }
          .content-right-action {
            border-right: 1px solid #cccccc;
            margin-right: 10px;
          }
        }
      }
    }
  }
}