.container {
  .head-img {
    height: 330px;

    .van-swipe-item {
      width: 100%;
      height: 330px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .info {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #F4F4F4;
    // padding: 24px 0 32px 28px;
    margin: 24px 30px;
    padding-bottom: 32px;
    margin-bottom: 0;

    .icon {
      width: 84px;
      margin-right: 18px;

      img {
        width: 100%;
      }
    }

    .intro {

      .team-name {
        font-size: 30px;
        font-family: PingFang SC;
        font-weight: bold;
        color: #333333;
      }

      .address {
        font-size: 24px;
        font-family: PingFang SC;
        font-weight: 400;
        color: #898989;
        margin-top: 13px;
      }
    }
  }

  .content {
    padding: 30px;
    font-size: 28px;
    color: #333;

    .content-title {
      text-align: center;
      font-weight: bold;
      font-family: PingFang-SC-Bold;
      margin-bottom: 10px;
    }

    .content-info {
      line-height: 40px;

    }
  }
}

/deep/ .van-swipe__indicators {
  left: 90%;
}

/deep/ .van-swipe__indicator {
  background-color: #F4F4F4;
}

/deep/ .van-swipe__indicator {
  width: 16px;
  height: 16px;
}
